<div *ngIf="etudiant" class="container">
  <h2>Modifier l'étudiant</h2>
  <form (submit)="updateEtudiant()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" [(ngModel)]="etudiant.nomEt" name="nom" required>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" [(ngModel)]="etudiant.prenomEt" name="prenom" required>
    </div>
    <div class="form-group">
      <label for="cin">CIN</label>
      <input type="number" class="form-control" id="cin" [(ngModel)]="etudiant.cin" name="cin" required>
    </div>
    <div class="form-group">
      <label for="ecole">École</label>
      <input type="text" class="form-control" id="ecole" [(ngModel)]="etudiant.ecole" name="ecole" required>
    </div>
    <div class="form-group">
      <label for="dateNaissance">Date de Naissance</label>
      <input type="date" class="form-control" id="dateNaissance" [(ngModel)]="etudiant.dateNaissance" name="dateNaissance" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="etudiant.email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
  </form>
</div>
