<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-success text-white">
      <h1 class="card-title mb-0">Liste des étudiants</h1>
    </div>
    <div class="card-body">
      <button class="btn btn-primary mb-3" [routerLink]="['/ajouter']">Ajouter étudiant</button>
      <table class="table table-striped">
        <thead class="bg-light">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">CIN</th>
            <th scope="col">École</th>
            <th scope="col">Date de naissance</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="etudiants && etudiants.length > 0; else noData">
            <tr *ngFor="let etudiant of etudiants">
              <td>{{ etudiant.nomEt }}</td>
              <td>{{ etudiant.prenomEt }}</td>
              <td>{{ etudiant.cin }}</td>
              <td>{{ etudiant.ecole }}</td>
              <td>{{ etudiant.dateNaissance }}</td>
              <td>{{ etudiant.email }}</td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="deleteEtudiant(etudiant.idEtudiant)">
                  <span class="material-icons">delete</span> 
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-template #noData>
            <tr>
              <td colspan="7" class="text-center">Aucune donnée disponible</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
