<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-success text-white">
      <h1 class="card-title mb-0">Liste des étudiants</h1>
    </div>
    <div class="card-body">
      <table class="table table-vcenter table-mobile-md card-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>CIN</th>
            <th>École</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let etudiant of etudiants">
            <td>{{ etudiant.nomEt }}</td>
            <td>{{ etudiant.prenomEt }}</td>
            <td>{{ etudiant.cin }}</td>
            <td>{{ etudiant.ecole }}</td>
            <td>{{ etudiant.dateNaissance }}</td>
            <td>{{ etudiant.email }}</td>
            <td>
              <a class="btn text-success" [routerLink]="['detail', etudiant.idEtudiant, etudiant.nomEt, etudiant.prenomEt, etudiant.cin, etudiant.ecole, etudiant.dateNaissance, etudiant.email]">
                <span class="material-icons">visibility</span>
              </a>
              <a class="btn text-warning" [routerLink]="['Update', etudiant.idEtudiant, etudiant.nomEt, etudiant.prenomEt, etudiant.cin, etudiant.ecole, etudiant.dateNaissance, etudiant.email]">
                <span class="material-icons">edit</span>
              </a>
              <button class="btn text-danger" (click)="deleteEtudiant(etudiant.idEtudiant)">
                <span class="material-icons">delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
